<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "com.phonegap.webview"
		version 	= "1.0.0">

	<name>WebViewMe</name>

	<description>
		Visit any page in WebView
	</description>

	<author href="http://github.com/borissamardzija"
		email="boris.samardzija@gmail.com">
		Boris Samardžija
	</author>

	<preference name="orientation" value="default" />
	<preference name="fullscreen" value="true" />

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

	<access origin="*" />
</widget>
