<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
		xmlns:gap	= "http://phonegap.com/ns/1.0"
		id			= "com.phonegap.getting.started"
		version 	= "1.0.0">

	<name>Testna aplikacija</name>

	<description>
		Test 1 2 3, opis aplikacije
	</description>

	<author href="http://github.com/borissamardzija"
		email="boris.samardzija@gmail.com">
		Boris Samardžija
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
